<?xml version="1.0"?>
<launch>

  <arg name="namespace" default="/"/>

  <group>
    <push-ros-namespace namespace="$(var namespace)"/>

    <!-- robot_description is used by nodes that publish to joint_states. -->
    <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher">
      <param name="robot_description" value="$(command 'xacro $(find-pkg-share gem_description)/urdf/gem.urdf.xacro')" />
      <param name="publish_frequency" value="30.0"/>
    </node>

  </group>

</launch>
